<!--<button mat-button (click)="testServer()">Test connection</button>-->
<!--<button mat-button (click)="findMax()">Find maximum</button>-->

<!--<div *ngIf="text">{{text}}</div>-->
<!--<div>-->
  <!--<form>-->
    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Enter numbers" [(ngModel)]="numbers" name="smth">-->
    <!--</mat-form-field>-->
  <!--</form>-->
<!--</div>-->
<router-outlet></router-outlet>
